.row-fluid
  .span3
    -if current_user
      .friends.well
        -@friends.each do |friend|
          .media.friend{:id => friend.id}

            = link_to image_tag(@graph.get_picture(friend.uid), :class => "img-rounded media-object pull-left") ,friend, :class => "pull-left"
            .media-body
              %h5.media-heading= link_to friend.name, friend
              .occupying
                -if friend.room
                  %address is studying in #{friend.room.n.span12ame}
                -else 
                  %address isn't studying right now.
      
  .span9
    .room-search
      =render :partial => "rooms/search"
    .rooms-table
      =render :partial => "rooms/table", :locals => {:rooms => @rooms}
    =will_paginate @rooms
    -#
      .location
        %p#demo Coordinates:
      .rooms
        -for room in @rooms
          = render :partial => 'rooms/room', :locals => {:room => room}
        
    %br
    .hidden-phone.span12=gmaps("map_options" => { "detect_location" => true, "bounds" =>'[{"lat":42.36311,"lng":-71.110425},{"lat":42.350711,"lng":-71.076908}]'},"markers" => { "data" => @json })

