.row-fluid
  .span3
    -if current_user && @friends.size > 0
      .friends.well
        -@friends.each do |friend|
          .media.friend{:id => friend.id}

            = link_to image_tag(@graph.get_picture(friend.uid), :class => "img-rounded media-object pull-left") ,friend, :class => "pull-left"
            .media-body
              %icon.icon-circle.pull-right
              %h5.media-heading=friend.name
              

              .occupying
                -if friend.room
                  %address is studying in #{friend.room.name}
                -else 
                  %address isn't studying right now.
      
  .span9
    .room-search
      =form_tag root_path, :method => "get", :class => "rooms-search" do
        ="Enter building or building-room number: "
        = text_field_tag :search, params[:search], :id => 'search_field' 
        = submit_tag "Search", :name => nil, :class => "btn"

        .rooms-table
          =render :partial => "rooms/table", :locals => {:rooms => @rooms, :sort => nil, :order => nil, :page => nil, :projector => false, :whiteboard => false}
    =will_paginate @rooms
    %br
    .map_container
      .gmaps4rails_map#map
        .span9#map_canvas
          .hidden-phone=gmaps("map_options" => { "detect_location" => true, "bounds" =>'[{"lat":42.36311,"lng":-71.110425},{"lat":42.350711,"lng":-71.076908}]'},"markers" => { "data" => @json })
