.row-fluid
  .span3
    .friends
      -@friends.each do |friend|
        .friend{:id => friend.id}
          =friend.name
          .occupying
            -if friend.room
              is studying in #{friend.room.name}
            -else 
              isn't studying right now.
      
  .span9
    .location
      %p Your Coordinates:
      %p#demo Click the button to get your coordinates:
    .rooms
      -for room in @rooms
        = render :partial => 'rooms/room', :locals => {:room => room}
      
    =link_to "Rooms", rooms_path
    %br
    = gmaps("map_options" => { "detect_location" => true, "bounds" =>'[{"lat":42.36311,"lng":-71.110425},{"lat":42.350711,"lng":-71.076908}]'},"markers" => { "data" => @json })

