%br
-for room in @rooms

  .room
    =room.name
    =room.description
    =room.latitude
    =room.longitude
    =room.occupied

=link_to "Rooms", rooms_path


%br
= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "auto_zoom" => false, "zoom" => 5},"markers" => { "data" => @json })

