%h3= @room.name
=current_user.room

.actions
  -if @room.occupied
    -if current_user.room == @room
      =link_to "Check room in", room_checkout_path(@room)#, :method => "PUT"
  -else
    =link_to "Check out room", room_checkout_path(@room), :class => "checkout"#, :method => "PUT
=@room.longitude
=@room.latitude


%p#demo Click the button to get your coordinates:


